body {
  background-color: #D6CADD;
  font-size: 12pt;
  font-family: 'Lato',
  Sans-Serif;
  overflow-y: scroll;
} 

* {
  box-sizing: border-box;
}

h1 {
  margin: 5px 0px 0px 0px;
}

h3 {
  margin-bottom:0;
}

.container {
  background-color: white;
  width: 800px;
  margin: 30px auto 30px auto;
  border: solid;
  border-color: #36013F;
}

.header {
  padding: 25px;
  height: 300px;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
    justify-content: center;
}

.content {
  padding: 15px 25px 15px 25px;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #571B7E;
  border: solid;
  border-color: #36013F;
  border-left: none;
  border-right: none;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

#navigation li a:hover {
  background-color: #9A4EAE;
}

.active {
  background-color: #36013F;
}

button {
  background-color: #571B7E;
  border: none;
  color: white;
  text-decoration: none;
  padding: 3px 9px;
  text-align: center;
  font-size: 10pt;
  margin-top: 5px;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #9A4EAE;
}

button a:link {
  color: white;
  text-decoration: none;
}

button a:visited {
  color: white;
  text-decoration: none;
}


a:link, a:visited{
  color: #461B7E;
}

a:hover {
  color: #9A4EAE;
}

.icon:hover {
  filter: invert(44%) sepia(10%) saturate(3301%) hue-rotate(242deg) brightness(84%) contrast(88%);
}

#footer {
  text-align: center;
  margin-bottom: 90px;
}
